div.container {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

#cy {
    display: block;
    width: 100%;
    height: 100%;
/*    position: absolute;
    left: 0;
    top: 0;*/
}

#control {
/*    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;*/
}

#nodeControl {/*
	margin-top:20em;*/
}

#nodeNumInput {
	/*margin-top:20em;*/
}