<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container">
        <h1>Result</h1>
        <div>
            <a href="/1">Network1</a>
        </div>
        <div>
            <a href="/2">Network2</a>
        </div>
    </div>
  </body>
</html>