div.container {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

#cy {
    display: block;
    width: 100%;
    height: 100%;
}

#control {
/*    display: block;
    
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;*/
    padding: 0;
}

#nodeNumInputLabelDiv {
    padding: 0;
    float: left;
}

#nodeNumInputDiv {
    padding: 0;
}

#nodeNumUpdateButton {

}

#nodeNumUpdateButtonDiv {
    padding: 0;
    float: left;
}

#proteinTable tr td {
    /*height: 10px;*/
    padding: 0;
}


#proteinTable th {
}

.selected td {
    background-color: red !important; /* Add !important to make sure override datables base styles */
 }

.selected-out td {
    background-color: blue !important;
}